*.dll
*.cache
*.pdb
*.xml
.vs/MoreOutsideInteraction/v14/.suo
.vs/MoreOutsideInteraction/v16/.suo
.vs/MoreOutsideInteraction/v16/Server/sqlite3/db.lock
.vs/MoreOutsideInteraction/v16/Server/sqlite3/storage.ide
obj/Release/MoreOutsideInteraction.csproj.CopyComplete
.vs/MoreOutsideInteraction/v16/Server/sqlite3/storage.ide-shm
.vs/MoreOutsideInteraction/v16/Server/sqlite3/storage.ide-wal

packages/*